*{
    margin: 0;
    padding: 0;
}
.main{

   width: 44%;
  box-shadow: 2px 2px 5px gray,
  -2px -2px 5px gray;
  color: #757575;

}
.main img{
    width: 500px;
    height: 300px;
}
.main h1{
    padding-left: 20px;
}
.main h2{
    padding-left: 20px;
}
.main h3{
    padding-left: 20px;
}
.container{
    padding: 15px 15px;
    display: flex;
    padd
}
.icon{
    margin-top: -60px;
    color: white;
}
.icon1{
   text-align: center;
    background-color: #009688;
    padding-left: 70px;
    color :white;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 20px 20px ;
}
.icon2{
    text-align: center;
     background-color:#009688;
     color :white;
     margin-right: 150px;
     margin-left: 20px;
     border-radius: 20px 20px ;
 }
 .icon3{
     background-color:#009688;
     color :white;
     margin-right: 180px;
     margin-left: 20px;
     border-radius: 20px 20px ;
     padding-left: 140px;
 }
 .icon4{
     background-color:#009688;
     color :white;
     margin-right: 230px;
     margin-left: 20px;
     border-radius: 20px 20px ;
     padding-left: 80px;

 }
 .icon5{
    text-align: center;
     background-color:#009688;
     padding-left: 70px;
     margin-right: 40px;
     padding-top: 4px;
     padding-bottom: 4px;
     margin-left: 20px;
     border-radius: 20px 20px ;
     color: #009688;
 }
 .icon6{
     background-color:#009688;
     padding-left: 70px;
     margin-right: 180px;
     padding-top: 4px;
     padding-bottom: 4px;
     margin-left: 20px;
     border-radius: 20px 20px ;
     color: #009688;
 }
 .icon7{
    text-align: center;
     background-color:#009688;
     padding-left: 70px;
     margin-right: 300px;
     padding-top: 4px;
     padding-bottom: 4px;
     margin-left: 20px;
     border-radius: 20px 20px ;
     color: #009688;
 }
 .main1{
    height: 690px;
    padding-left: 15px;
    margin-left: 18px;
    box-shadow: 2px 2px 5px gray,
  -2px -2px 5px gray;
  font-family: "Roboto", sans-serif;
 
 }
 .main1 p{
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-size: 20px;

 }
.item{
    padding-top: 35px;
    font-size: 27px;
    color: #757575;
}
.main1 h3{
    font-size:20px;
    color: #009688;
}
.main1 h2{
    color: #757575;
}
.main2{
    height: 620px;
    padding-left: 15px;
    margin-left: 18px;
    box-shadow: 5px 5px 5px gray,
  -5px -5px 5px gray;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
 }
 .main2 p{
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-size: 20px;
 }
.main2 h3{
    font-size:20px;
    color: #009688;
}
.main2 h2{
    color: #757575;
}
span{
    background-color: #009688;
    color: white;
    padding: 2px 8px 2px 6px;
    border-radius: 7px;
}
i{
    padding: 10px;
}
.item i{
    padding: 10px ;
}

